* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background-color: #cfd4be;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    gap: 45%;
}

.fu-esquerdo{
    color: #555a4b;
    display: flex;
    font-family: sans-serif;
    font-size: 36px;
    justify-content: center;
    align-items: center;
    background-color: #ebf0d8;
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

.cabecalho-menu{
    display: flex;
    align-items: flex-end;
    gap: 25px;
}

.cabecalho-botao{
    color: #555a4b;
    font-weight: 600;
    padding-top: 4%;
    text-align: center;
    background-color: #ebf0d8;
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;
    width: 150px;
    border: 1px solid rgb(186, 185, 185);
    border-radius: 20px;
    cursor: pointer;
}

.cabecalho-botao:hover{
    background-color: #c2c5ba;
}

.imagem-admin{
    display: flex;
    flex-direction: column;
}

.nome-admin{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    color: #555a4b;
}

.conteudo{
    border-top: 2px solid #555a4b;
}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    align-items: end;
}

.lupa-pesquisa{
    width: 30px;
    height: 30px;
}

.pesquisa{
    display: flex;
    flex-direction: row;
}

input{
    margin-right: 7%;
    font-size: 20px;
    padding-left: 40px;
    width: 94vw;
    height: 45px;
    border-radius: 15px;
    border: 0.6px solid #80837b;
    background-color: #fff;
    outline: 0;
}

.lupa-pesquisa{
    height: 25px;
    width: 25px;
    margin-top: 10px;
    margin-left: 7px;
    position: absolute;
}

.conteudo-subtitulo{
    color: #555a4b;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 28vh;
    text-align: justify;
}

.rodape{
    padding: 5px;
}

.rodape-imagem{
    height: 100px;
    padding-left: 30px;
}
