*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background-color: #cfd4be;
}

.conteudo-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.conteudo-meio{
    width: 100%;
    height: 100%;
    background-color: #ebf0d8;
    display: flex;
    flex-direction:column;
    justify-content: center;
    padding: 35px 50px;
    border-radius: 10px;
    gap: 5px;
}

h1{
    font-size: 40px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    color: #6f6f6f;
    padding-bottom: 15px;
}

h2{
    color: #6f6f6f;
    font-size: 35px;
    font-weight: 800;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 800;
    color: #6f6f6f;
}

input{
    padding: 10px;
    font-size: 20px;
    height: 50px;
    width: 100%;
    border: 1px solid #999999;
    outline: none;
}

a{
    color: rgb(54, 111, 216);
    cursor: pointer;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    padding-bottom: 25px;
}

a:hover{
    text-decoration: underline;
}

button{
    color: white;
    height: 50px;
    width: 30%;
    font-size: 20px;
    font-weight: 700;
    background-color: #6f6f6f;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: #999999;
}

.imagem-planta{
    padding-left: 20px;
    padding-bottom: 10px;
    height: 120px;
}

.imagem-sacola{
    height: 120px;
}

.rodape{
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: row;
}